html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;

    background: transparent;

    font-family: sans-serif;
}

.chat {
    display: flex;
    flex-direction: column;

    gap: 12px;

    padding: 20px;

    box-sizing: border-box;
}

.message {
    display: flex;

    align-items: baseline;

    gap: 8px;

    word-break: break-word;
}

.message__nickname {
    font-weight: bold;

    white-space: nowrap;
}

.message__text {
    overflow-wrap: anywhere;
}
